aiogram==3.2.0
python-dotenv==1.0.0
schedule==1.2.0
aiofiles==23.2.1
geopy==2.4.1
flatlib==0.2.3
tzdata==2025.2

# Автоматизация рабочего процесса
poethepoet==0.37.0 # Запуск скриптов с помощью команд
pre-commit==3.5.0

# Основные инструменты линтинга
flake8==6.1.0          # Проверка стиля и ошибок
isort==5.13.2          # Сортировка импортов
black==23.11.0

# Плагины для flake8 (опционально, но очень полезно)
flake8-docstrings==1.7.0    # Проверка докстрингов
flake8-comprehensions==3.14.0  # Проверка списковых включений
flake8-bugbear==23.9.16     # Поиск распространенных ошибок
autoflake==2.3.1 # Удаление неиспользуемых импортов
